h3 {
	 text-align: center; 
}

.all {
	margin: 0	auto 30px auto;
	width: 60%;
	background-color: white;
}

.action{
	padding: 0 0 20px 5%;	
}

span.label {
	padding: 0 20px 0 10%;
	position: absolute;
	width: 50%;
}

span.form {
	padding: 0 20px 0 10%;
	position: absolute;
	left: 40%;
	width: 50%;
}

span.links {
	padding: 20px 30px 0 20%;
}

p.pay {
	padding: 30px 0 30px 100px;
	position: absolute;
}