$('#result').html(
	"<% if @cart_detail.errors.any? %><ul><% @cart_detail.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul><% else %>追加しました!　ただいま、<%= @cart_detail.num %>個購入しました！<% end %> "
	);