<h1>もうしわけございません、その商品はもう存在していません</h1>
<script language="JavaScript">
	mnt = 5;
	url = "http://localhost:3000/materials/";
	function jumpPage() {
	  location.href = url;
	}
	setTimeout("jumpPage()",mnt*1000)
</script>