<%= @params %>
<h1>ERROR PAGE!!</h1>
<br>
<p id="notice"><%= notice %></p>
<% if session[:member_id] == "" %>
	<%= link_to "戻る", action: :index %>
<% else %>
	<%= link_to "戻る", materials_path %>
<% end %>